* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #1f2937;
  padding: 8px 80px;
}

h4 {
  font-size: 24px;
  color: #f9faf9;
}
.title p {
  font-size: 18px;
  color: #e5e7eb;
}

h1 {
  font-size: 48px;
  color: #f9faf8;
}

a {
  font-size: 16px;
  color: #e5e7eb;
  text-decoration: none;
  margin-right: 8px;
}

button {
  background-color: #3882f6;
  padding: 4px 16px;
  border-radius: 5px;
  margin-top: 8px;
}

.header-logo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 16px;
  gap: 16px;
  flex-wrap: wrap;
}

.main-header {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
  gap: 16px;
  flex-wrap: wrap;
}

.image {
  height: 200px;
  width: 350px;
  background-color: darkgray;
}

.title {
  max-width: 320px;
}

h2 {
  text-align: center;
  margin: 16px;
  font-size: 36px;
  font-weight: 900;
  color: #1f2937;
}
.info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  flex-wrap: wrap;
}

.info-img {
  max-width: 200px;
  margin: 16px;
}

.img {
  height: 200px;
  max-width: 200px;
  border-radius: 8px;
}

.comment {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #e5e7eb;
  padding: 80px 150px;
  font-size: 36px lighter italic #1f2937;
}

.comment span {
  display: flex;
  align-items: end;
  font-weight: bold;
}

.sign-up {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  background-color: #3882f6;
  margin: 60px 80px;
  padding: 30px;
  border-radius: 4px;
}

.sign-up button {
  color: white;
  border: 2px solid white;
  flex-shrink: 0;
}

.sign-up p {
  font-weight: 200;
  color: #e5e7eb;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f2937;
  padding: 16px;
  color: #f9faf8;
  font-weight: 50;
}
